{% extends "base.html" %}

{% block header %}
<header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Удаление заявки</h1>
                    <span class="subheading">Подтвердите удаление</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>После подтвреждения действие будет невозможно отменить</p>
                <div class="my-5">
                    
                    <form method="post" id="contactForm" data-sb-form-api-token="API_TOKEN">
                        {% csrf_token %}
                        
                        
              
                                                    
                        <div class="d-flex justify-content-center mb-4"><button class="btn btn-danger text-uppercase justify-content-center" id="submitButton" type="submit">Подтвердить</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}