{% extends "base.html" %}

{% block header %}

<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <p >Виды спорта</p>
            <div class="col-md-10 col-lg-8 col-xl-2">
                <p>{{object.sport}}</p>
                <p>{{object.name}}</p>
                <p>{{object.request}}</p>
            </div>
            
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Виды спорта</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>{{object.sport}}</td>
                        <td>{{object.name}}</td>
                        <td>{{object.request}}</td>
                    </tr>
                    
                </tbody>
            </table>
            <div class="d-flex justify-content-center mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'coaching:del' pk=object.pk %}">Удалить заявку</a></div>
        </div>
    </div>
</main>
{% endblock %}