{% extends "base.html" %}

{%load tags %}

{% block header %}
<header class="masthead" style="background-image: url('/static/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Заявки</h1>
                    <h2 class="subheading">{{coach}}</h2>
                    <span class="meta">
                        
                        <a href="/#!">govno</a>
                        
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for item in reqs %}
            <div class="post-preview">
                <a href="{% url 'coaching:posts' pk=item.pk %}">
                    <h2 class="post-title">{{item.name}}</h2>
                    <h3 class="post-subtitle">{{item.request}}</h3>
                </a>
                <p class="post-meta">
                    {{item.experience}}
                    <a href="#!">{{item.sport}}</a>
                    <a href="{% url 'coaching:upd' pk=item.pk %}">Изменить данные</a>
                </p>
            </div>
            {% endfor %}
            <div style="display: flex; width: 200px; border: 2px solid black; justify-content: space-evenly;">
                {% if page_obj.has_previous %}
                <a href="?page=1">First </a>
                {% endif %}
                {% for p in paginator.page_range %}
                {% if p == page_obj.previous_page_number or p == page_obj.next_page_number %}

                <a href="?page={{p}}">{{p}}</a>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <a href="?page={{paginator.num_pages}}">Last</a>
                
                {% endif %}
            </div>
            
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
{% endblock %}